<?xml version="1.0"?> <!-- Modified xacro urdf model -->

<!-- xmlns:xacro="http://www.ros.org/wiki/xacro" is a necessary import -->
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- import common properties -->
    <xacro:include filename="common_properties.xacro" />

    <!-- import mobile base -->
    <xacro:include filename="mobile_base.xacro" />

</robot>
